replicaCount: 2

image:
  repository: <aws_account_id>.dkr.ecr.us-east-1.amazonaws.com/django-enterprise
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8000

resources:
  requests:
    cpu: "250m"
    memory: "512Mi"
  limits:
    cpu: "500m"
    memory: "1Gi"

env:
  DJANGO_SETTINGS_MODULE: config.settings.production
  DEBUG: "False"

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

ingress:
  enabled: true
  className: alb
  scheme: internet-facing
  host: ""
