name: Build and Deploy Django

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: django-enterprise
  CLUSTER_NAME: django-eks
  K8S_NAMESPACE: django-prod

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build and Push Docker Image
      run: |
        docker build -t $ECR_REPOSITORY .
        docker tag $ECR_REPOSITORY:latest \
        ${{ steps.login-ecr.outputs.registry }}/$ECR_REPOSITORY:latest
        docker push \
        ${{ steps.login-ecr.outputs.registry }}/$ECR_REPOSITORY:latest

    - name: Update kubeconfig
      run: aws eks update-kubeconfig --name $CLUSTER_NAME

    - name: Deploy with Helm
      run: |
        helm upgrade --install django ./helm \
          --namespace $K8S_NAMESPACE \
          --create-namespace